In [ ]:
#1 python program to print all odd numbers in a list?
list1 = [10, 11, 13, 15, 16, 17]
for num  in list1: 
  if num % 2!=0:
    print(num)

11
13
15
17

In [ ]:
#2 python program to find the sum of list elements?
b=[]
num=int(input("numbers: "))
for n in range(num):
  numbers=int(input("enter numbers: "))
  b.append(numbers)
print("sum of numbers: ", sum(b))

numbers: 5
enter numbers: 25
enter numbers: 26
enter numbers: 27
enter numbers: 28
enter numbers: 29
sum of numbers:  135

In [ ]:
#3 python program to reverse a list in two ways?
a=[2,3,4,5,6]
a.reverse()
print("reversed list is; ",a)
print("reversed list is;",a[::-1])

reversed list is;  [6, 5, 4, 3, 2]
reversed list is; [2, 3, 4, 5, 6]

In [ ]:
#4 python program to find the top two maximum numbers in a list?
heights = [12, 21, 30, 101, 11, 15]
largest_number = heights[0]
for number in heights:
  if number > largest_number:
    largest_number = number
print(largest_number)

101

In [ ]:
#5 write a program in python find the second highest number in an integer list?
a=[]
n=int(input("enter number of elements:"))
for i in range(1,n+1):
   b=int(input("emter element:"))
   a.append(b)
a.sort()
print("second largest element is:",a[n-2])

enter number of elements:10
emter element:20
emter element:30
emter element:40
emter element:50
emter element:60
emter element:70
emter element:80
emter element:90
emter element:100
emter element:110
second largest element is: 100

In [ ]:
#6 python program to sort characters in decending order?
list1=["subhan","areesh", "ansari","muiz" ]
list1.sort()
print(list1)

['ansari', 'areesh', 'muiz', 'subhan']

In [ ]:
#7 python program to remove repeated characters from a string?
name=["abdullah", "anus","huzaifa","lalit","shabnam","shabana"]
name.remove("lalit")
print(name)

['abdullah', 'anus', 'huzaifa', 'shabnam', 'shabana']

In [ ]:
#9 python program to calculate factorial?
num=int(input("enter a number:"))
factorial= 1
if num < 0:
  print("sorry,factorial does not exist for negative numbers")
elif num == 0:
  print("the factorial of 0 is 1")
else:
  for i in range(1,num+1):
    factorial=factorial*i
  print("the factorial of",num,"is",factorial)

enter a number:10
the factorial of 10 is 3628800

In [ ]:
#10 python program to merge two list?
"""program which merge two list"""
list1 = ["snake", "joker" , "audi"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['snake', 'joker', 'audi', 1, 2, 3]

In [ ]:
#8 python program to check if a given character is a vowel or constant?
charac = input("Enter a character: ")

if(charac=='A' or charac =='a' or charac =='E' or charac =='e' or charac =='I'
 or charac =='i' or charac =='O' or charac =='o' or charac =='U' or charac =='u'):
    print(charac, "is a Vowel")
else:
    print(charac, "is a Consonant")

Enter a character: i
i is a Vowel